<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion del evento</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/event.css" />
    <!-- LINK FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <!-- BACK TO HOME -->
      <div class="contenedor_inicio">
        <a href="/index" class="inicio">Volver al inicio</a>
      </div>

      <!-- LOGO -->
      <a href="#" class="logo">Entradas<span class="color_logo">Arg</span></a>
    </header>

    <!-- SECTION STEP 1 -->
    <section class="contenedor_paso1">
      <p>
        Paso 1 <span class="color_paso1">2</span>
        <span class="color_paso1">3</span>
      </p>
      <i class="fa-solid fa-arrow-right"></i>
      <p class="paso1">Informacion del Evento</p>
    </section>

    <!-- MAIN -->
    <main>
      <!-- MAIN INFORMATION OF THE EVENTS -->

      <section class="contenedor_principal_eventos" id="contenedor_principal">
        <div class="contenedor_img" id="contenedor_img">
          <img src="<%= evento.imagenPortada %>" alt="Portada del Evento" />
        </div>
        <div class="contenedor_entradas">
          <div class="contenedor_titulo">
            <h2><%= evento.nombreEvento %></h2>
          </div>
          <div class="contenedor_fechayhora">
            <p class="texto">
              <i class="fa-solid fa-calendar-days icono"></i> Fecha: <%=
              evento.fechaEvento.toLocaleDateString('es-AR') %>
            </p>
            <p class="texto">
              <i class="fa-solid fa-clock icono"></i> Hora: <%=
              evento.horarioEvento %>
            </p>
          </div>
          <a href="/evento/<%= evento._id %>/tickets" class="compra_evento"
            ><span class="texto">Compra tus entradas</span></a
          >
          <div class="contenedor_precio">
            <p>
              <i class="fa-solid fa-money-bill icono"></i
              ><span class="texto">
                Precio General: <%= evento.precioEntradaGeneral %>$<br />Precio
                VIP: <%= evento.precioEntradaExclusiva %>$</span
              >
            </p>
          </div>
          <div class="contenedor_informacion">
            <p class="texto separacion">
              <i class="fa-solid fa-user icono"></i> <%= evento.edadDisponible
              %>
            </p>
            <p class="texto">
              <i class="fa-solid fa-clock icono"></i> Duracion: <%=
              evento.duracionEvento %>
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER-->

    <footer>
      <div class="box_contenedor">
        <div class="box redes_box">
          <h2 class="logo">Redes Sociales</h2>
          <div class="redes_sociales">
            <a class="fab fa-facebook-f color1"></a>
            <a class="fab fa-twitter color2"></a>
            <a class="fab fa-instagram color1"></a>
          </div>
          <p>Enterate de los eventos primero que todos</p>
        </div>

        <div class="box contactos_box">
          <h2 class="logo">Contactos</h2>
          <a class="links">
            <i class="fas fa-phone color1"></i>
            <span class="contactos"> +261-559-0611</span>
          </a>
          <a class="links">
            <i class="fas fa-phone color2"></i
            ><span class="contactos"> +261-207-0387</span>
          </a>
          <a class="links">
            <i class="fas fa-envelope color1"></i
            ><span class="contactos"> tutanota@gmail.com</span>
          </a>
          <a class="links">
            <i class="fas fa-map-marker-alt color2"></i
            ><span class="contactos"> Medoza - Argentina</span>
          </a>
        </div>
      </div>

      <div class="creditos">
        <a href="https://autogestion.produccion.gob.ar/consumidores"
          >Copyright Entradas<span class="color_logo">Arg</span> - 2023. Todos
          los derechos reservados.</a
        >
      </div>
    </footer>
  </body>
  <script src="/static/js/menu/move.js"></script>
</html>
