<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccion de Entradas</title>
    <!-- LINK JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/event.css" />
    <link rel="stylesheet" href="/static/css/tickets.css" />
    <!-- LINK FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <!-- Go Back -->
      <div class="contenedor_volver">
        <a href="/eventos/<%= evento._id %>" class="volver">Volver atras</a>
      </div>
      <!-- Logo -->
      <a href="#" class="logo">Entradas<span class="color_logo">Arg</span></a>
      <!-- Back to Home -->
      <div class="contenedor_inicio">
        <a href="/index" class="inicio">Volver al inicio</a>
      </div>
    </header>

    <!-- Section Step 2 -->
    <section class="contenedor_paso1">
      <p>
        Paso<span class="color_paso1"> 1</span> 2
        <span class="color_paso1">3</span>
      </p>
      <i class="fa-solid fa-arrow-right"></i>
      <p class="paso1">Seleccion de entradas</p>
    </section>

    <!-- Information Section -->

    <section class="contenedor_info">
      <div class="contenedor_titulo">
        <h2 class="titulo"><%= evento.nombreEvento %></h2>
      </div>
      <div class="contenedor_precio">
        <p class="texto">
          <i class="fa-solid fa-money-bill icono"></i> Precio General: $<%=
          evento.precioEntradaGeneral %> <br />
          Precio VIP: $<%= evento.precioEntradaExclusiva %>
        </p>
      </div>
      <div class="contenedor_fecha">
        <p class="texto">
          <i class="fa-solid fa-calendar-days icono"></i> Fecha: <%=
          evento.fechaEvento.toDateString() %>
        </p>
      </div>
      <div class="contenedor_hora">
        <p class="texto">
          <i class="fa-solid fa-clock icono"></i> Hora: <%= evento.horarioEvento
          %>
        </p>
      </div>
      <div class="contenedor_extras">
        <p class="texto">
          <i class="fa-solid fa-location-dot icono"></i> Ubicacion: <%=
          evento.ubicacion %>
        </p>
      </div>
    </section>

    <!-- Buy Tickets Section -->

    <section class="contenedor_venta_entradas">
      <div class="contenedor_img">
        <img src="<%= evento.imagenPortada %>" alt="" />
      </div>
      <div class="contenedor_entradas">
        <h3 class="titulo">SELECCIONA LA ENTRADA</h3>
        <button href="" class="entrada" id="general">Sector General</button>
        <button href="" class="entrada" id="vip">Sector VIP</button>
        <div class="entradas_agregadas hide" id="entradas_agregadas">
          <h4>Entradas Agregadas</h4>
          <table class="tabla_entradas">
            <thead>
              <tr>
                <th class="tipo_entrada">Tipo de Entrada</th>
                <th class="cantidad_entrada">Cantidad</th>
                <th class="precio">Precio</th>
                <th class="borrar"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Las filas se agregan automaticamente al agregar el ticket -->
            </tbody>
            <tfoot>
              <tr>
                <td class="total">Total a pagar:</td>
                <td id="total_pagar">0</td>
              </tr>
              <tr>
                <td colspan="4">
                  <button
                    href="/evento/<%= evento._id %>/compra"
                    class="comprar_entradas"
                    id="comprar_entradas"
                  >
                    Comprar Entradas
                  </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <footer>
      <div class="box_contenedor">
        <div class="box redes_box">
          <h2 class="logo">Redes Sociales</h2>
          <div class="redes_sociales">
            <a class="fab fa-facebook-f color1"></a>
            <a class="fab fa-twitter color2"></a>
            <a class="fab fa-instagram color1"></a>
          </div>
          <p>Enterate de los eventos primero que todos</p>
        </div>

        <div class="box contactos_box">
          <h2 class="logo">Contactos</h2>
          <a class="links">
            <i class="fas fa-phone color1"></i>
            <span class="contactos"> +261-559-0611</span>
          </a>
          <a class="links">
            <i class="fas fa-phone color2"></i
            ><span class="contactos"> +261-207-0387</span>
          </a>
          <a class="links">
            <i class="fas fa-envelope color1"></i
            ><span class="contactos"> tutanota@gmail.com</span>
          </a>
          <a class="links">
            <i class="fas fa-map-marker-alt color2"></i
            ><span class="contactos"> Medoza - Argentina</span>
          </a>
        </div>
      </div>

      <div class="creditos">
        <a href="https://autogestion.produccion.gob.ar/consumidores"
          >Copyright Entradas<span class="color_logo">Arg</span> - 2023. Todos
          los derechos reservados.</a
        >
      </div>
    </footer>
  </body>
  <script>

    var eventoInfo = {
          precioEntradaGeneral: <%= evento.precioEntradaGeneral %>,
          precioEntradaExclusiva: <%= evento.precioEntradaExclusiva %>,
    };

    document.getElementById('comprar_entradas').addEventListener('click', function() {
      window.location.href = '/evento/<%= evento._id %>/compra'; 
    });

  </script>
  <script src="/static/js/entradas/tickets_table.js"></script>
</html>
